<h1>Listing cars</h1>
<br />

<div id='search'>
	<%= render 'cars/search' %>
</div>

<div id='home-list'>
	<%= render 'cars/list_cars' %>
	<%= link_to 'New Car', new_car_path %>
</div>

<div id='home-car'>
	<%= render 'cars/car' %>
	<%= link_to 'Edit', edit_car_path(@car) %> |
	<%= link_to 'Back', cars_path %>
</div>

<div id='home-comments'>
	<%= render 'comments/list_comments' %>
</div>