<h2><%= @car.make %> <%= @car.model %></h2>

<%= render 'misc/like' %>

<div class="car_images">
	<% @car.images.each do |image| %>
		<%= image_tag image.car_image.url(:thumb) %>
	<% end %>
</div>
  
<h3>Description</h3>
<div class="car_description">
  <%= @car.description %>
</p>

<h3>Details</h3>
<div class="car_details">
	<p><span class="label">Make:</span> <%= @car.make %></p>
	<p><span class="label">Model:</span> <%= @car.model %></p>
	<p><span class="label">Year:</span> year is comming soon... </p>
	<p><span class="label">Category:</span> <%= @car.car_category %></p>
	<p><span class="label">Body type:</span> <%= @car.body_type %></p>
	<p><span class="label">Advantages:</span> <%= @car.advantages %></p>
	<p><span class="label">Disadvantages:</span> <%= @car.disadvantages %></p>
 </div>

<hr />