
<table class="table table-striped">
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Description</th>
    <th></th>
    <% if @is_current_user_admin %>    
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @cars.each do |car| %>
  <tr <% if @car != nil and car.id == @car.id %> class = 'row-selected' <% end %>>
    <td><%= car.make %></td>
    <td><%= car.model %></td>
    <td><%= truncate(car.description, length: 25, omission: '...') %></td>
    <td><%= link_to 'Show', car %></td>
    <% if @is_current_user_admin  %>    
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
      <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

