<!DOCTYPE html>
<html>
<head>
  <title>CarCatalog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">	
		<div class="container">
			 	<%= link_to "Car Catalog", :root, class: "brand" %>
			 	<div  id="main-menu"> <!-- class="nav-collapse collapse" -->
					<%= render partial: '/layouts/shared/user_bar' %>
				</div>
		</div>
	</div>
</div>

	<%= render partial: '/layouts/shared/flash_display', locals: {notice: notice, alert: alert} %>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
